{
	box-sizing: border-box;
}

span {
	font-size: 25px;
	color: black;
}
#header {
		background-color: white;
		padding: 10px;
		border:3px black;
		width: 100%;
		border-style: solid;
}
hr {
   width: 100%;
   height: 1px;
   margin-right: auto;
   margin-left: auto;
   background-color: black;
}
#nav {
	font-size: 20px;
	color: black;
	border:3px black;
	width: 100%;
	border-style: solid;
}

#nav ul	 {
 list-style: none;
}

#nav ul li{
	float: left;
	padding: 0px;
	width; 100%;
}
#nav {
	display: flex;
	justify-content: center;
	background-color: white;
}
#nav a{
	padding: 25px;
}
#content {
	clear: both;
	float: left;
	float: bottom;
}
#content-text{
float:left;
width:30%;
font-size:20px;
}
.img{
	float: right;
	margin-top: 150px;
	padding: 5px;
}
#content-nav{
float: right;
width: 30%;
}	
.footer2{
	float: left;
	position: absolute;
}
.footer3{
	margin-left: 700px;
	position: absolute;
}